/* Consideraciones Generales*/
@font-face {
	font-family: 'Dancing Script';
	src: url('DancingScript.ttf');
}

body{
	font-family: 'Dancing Script';
	background-color: #02010a;
}
.contenido{
	margin: 0 auto;
	-webkit-animation: slide 1s forwards;
}
.shad{
	box-shadow: 2px 2px 2px #02010a;
}

/* Header*/

header{
	color: white;
	border-radius: 10px 10px 0 0;
	background-color: #5b7989;
 }
header h1 {
	padding: 0% 0% 0% 2%;
	width: 40%;
	float: left;
	text-shadow: 2px 2px 2px #02010a;
}
/* Menú */

#menu-principal{
	width: 50%;
	float: right;
	padding-top: 1%;
}

ul {
	list-style-type: none;
	text-align: right;
	font-size: 1.3em;
}

ul li {
	display: inline;
	padding: 2%;
}

ul li a {
	color: white;
}

a.actual {
	text-decoration: none;
}

/* Parte Central */
#primera{
	background-color: #82c3a6;
	width: 100%;
}
#primera img{
	width: 80%;
	display:flex;
	justify-content: space-around;
	margin:auto;
}

#segunda{
	background-color: #d5c75f;
	display: flex;
	flex-flow: row wrap;
}

#segunda div span{
	width: 100%;
	display: block;
	text-align: center;
	padding: 15px 0px;
}
#segunda div a{
	color: #000000;
}

/* Footer */

footer{
	background-color: #C6d5c5;
	border-radius: 0 0 10px 10px;
	display: flex;
	flex-flow: row wrap;
}

.pie img {
	width: 30px;
	height: 30px;
}

.pie span{
	font-size: 12px;
}

/* MediaQueris */

@media(min-width: 900px){
	.contenido {
		width: 900px
	}
	header{
		width: 900px;
		min-height: 80px;
	}
	footer{
		width: 900px;
		min-height: 200px;
	}
	.pie {
		width: 20%;
		height: auto;
		padding: 1% 2.5% 1% 2.5%;
	}
	#primera{
		min-width: 900px;
		height: auto;
		background-color: #82c3a6;
	}
	#img1{
		max-width: 80%;
		margin: 2% 10%;
	}
	#segunda div{
		max-width: 50%;
	}
	#segunda div a img{
		max-width: 90%;
		border: 1px;
		margin: 5%;
	}
}

@media (max-width: 900px){
	.contenido{
		width: 100%
	}
	header{
		min-height: 200px;
	}
	header h1 {
		width: 100%;
		text-align: center;
	}
	#menu-principal{
		width: 100%;
	}
	ul {
		text-align: center;
	}
	footer {
		width: 100%;
		min-height: 300px;
	}
	.pie {
		width: 100%;
		height: auto;
		padding: 1% 2.5% 1% 2.5%
	}
	#img1{
		max-width: 96%
		margin:2%;
	}
	#primera{
		max-width: 900px;
		width: 100%;
		background-color: #82c3a6;
	}
	#segunda div{
		max-width: 100%;
	}
	#segunda div a img{
		max-width: 90%;
		border: 1px;
		margin: 5%;
	}
}

/* Animaciones */

@-webkit-keyframes slide{
	0%{
		margin-top: 150%;
	}
	60%{
		margin-top: -5%;
	}
	100%{
		margin-top: 0%;
	}
}
#img2:hover{
	animation: rotar 2s
}
@-webkit-keyframes rotar{
	0%{
		transform: rotate(0deg);
	}
	50%{
		transform: rotate(10deg);
		box-shadow: 2px 2px 2px #82c3a6;
	}
	100%{
		transform: rotate(0deg);
	}
}
#img3:hover{
	animation: trans 2s;
}
@-webkit-keyframes trans{
	0%{
		transform: translate(0px, 0px);
	}
	50%{
		transform: translate(20px, -5px);
		box-shadow: 2px 2px 2px #82c3a6;
	}
	100%{
		transform: translate(0px, 0px);
	}
}

/* Paisajes y Retratos*/
#galeria{
	background-color: #d5c75f;
	display: flex;
	flex-flow: row wrap;
}
.blur{
	-webkit-filter: blur(10px);
}
.gris{
	-webkit-filter: grayscale(100%);
}
.sepia{
	-webkit-filter: sepia(90%);
}

@media (min-width: 900px){
	#galeria{
		min-width: 900px;
		height: auto;
	}
	#galeria div{
		width: 33.3%
	}
	#galeria div img{
		width: 84%;
		margin: 4% 8%;
	}
}
@media (max-width: 900px){
	#galeria{
		max-width: 900px;
		width: 100%;
	}
	#galeria div img{
		width: 84%;
		margin: 4% 8%;
	}
}

